<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tempDir" value="C:\Users\Rob\source\repos\Backup\Backup.Test\"/>

    <!--<add key="AWSProfileName" value="andrew"/>-->
    <!--<add key="AWSRegion" value="us-east-1" />-->
    <!--<add key="AWSRegion" value="ap-southeast-2" />
    <add key="Bucket" value=""/>-->
    
  </appSettings>
</configuration>