<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.19" targetFramework="net461" />
  <package id="AWSSDK.Glacier" version="3.3.1.21" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.14" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.24" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.3.3.2" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
</packages>